h1 {
    font-family: 'Cookie';
    text-align: center;
    font-weight: bold;
    color: #212121;
    font-size: 50px;
  }
  
  p {
    font-family: 'Catamaran', sans-serif;
  }
  
  .navbar-nav {
    font-size: 20px;
  }

  .navbar-brand { 
    font-size: 15px;
  }

  .weather{
    color: #858585;
    background: #e0ffff; 
    background-size: cover;
  
  }
  
  .weather-body {
    border: 0.2px solid;
    border-color: #fff;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
  }
  
  .temperature {
    margin-top: 50px;
  }
  
  .daily {
    margin-top: 30px;
  } 
  
   .today-summary {
    margin-top: 20px;
   }
  
   .year {
     font-size: 15px;
     margin-top: 16px;
     color:  #212121;
     font-family: 'Lora';
    }
  
   .month {
    font-family: 'Lora';
    color:  #212121;
    font-size: 15px;
   }  
   
   .day0 {
     font-size: 25px;
     color: #212121;
     font-family: 'Lora';
    }
   
   .day1,
   .day2,
   .day3,
   .day4,
   .day5,
   .day6 {
     font-size: 20px;
     color: #4b4c4c;
     font-family: 'Lora';
    }
   
   .date0 {
     font-size: 15px;
     line-height: 55px;
     color:black;
     font-family: 'Lora';
    } 
   
    .date1,.date2,.date3,.date4,.date5,.date6 {
     font-size: 20px;
     line-height: 20px;
     color: black;
     font-family: 'Lora';
    }
  
  .time {
     color: #212121;
     font-size: 25px;
     font-family: 'Lora';
    }
  
  .temp0 {
     color: #212121;
     font-size: 30px;
     font-weight: bold;
     line-height: 50px;
    } 
  
  .temp1, .temp2, .temp3, .temp4, .temp5, .temp6 {
      color: #4b4c4c;
      font-size: 20px;
      font-weight: 600;
      padding-top: 20px;
      line-height: 20px;
    }
  
  .forecast0 {
     color: #212121;
     font-size: 15px;
     padding-left: 15px;
     font-family: 'Lora';
     font-size: 20px;
    }
    
  .forecast1, .forecast2, .forecast3, .forecast4, .forecast5, .forecast6 {
    color: #4b4c4c;
    font-size: 13.5px;
    font-family: 'Lora';
    line-height: 1.5;
  }
  
  .icon0 {
     color: #212121;
     font-size: 72px;
     margin-top: 40px;
     background-color: white;
     border-radius: 10px;
     padding: 10px;
    } 
  
  .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    color: #212121
  }
   
   .location {
     color:  #212121;
     font-size: 15px;
     font-family: 'Lora'; 
    }